.util-center-text {
    text-align: center; }

.util-margin-xs {
    margin: .5rem; }
.util-margin-s {
    margin: 1rem; }
.util-margin-m {
    margin: 2rem; }
.util-margin-l {
    margin: 3rem; }
.util-margin-xl {
    margin: 4rem; }

.util-margin-horizontal-xs {
    margin: 0 1rem; }
.util-margin-horizontal-s {
    margin: 0 2rem; }
.util-margin-horizontal-m {
    margin: 0 4rem; }
.util-margin-horizontal-l {
    margin: 0 6rem; }
.util-margin-horizontal-xl {
    margin: 0 8rem; }

.util-margin-vertical-xs {
    margin: 1rem 0; }
.util-margin-vertical-s {
    margin: 2rem 0; }
.util-margin-vertical-m {
    margin: 4rem 0; }
.util-margin-vertical-l {
    margin: 6rem 0; }
.util-margin-vertical-xl {
    margin: 8rem 0; }

.util-margin-top-xs {
    margin-top: 1rem; }
.util-margin-top-s {
    margin-top: 2rem; }
.util-margin-top-m {
    margin-top: 4rem; }
.util-margin-top-l {
    margin-top: 6rem; }
.util-margin-top-xl {
    margin-top: 8rem; }

.util-margin-bottom-xs {
    margin-bottom: 1rem; }
.util-margin-bottom-s {
    margin-bottom: 2rem; }
.util-margin-bottom-m {
    margin-bottom: 4rem; }
.util-margin-bottom-l {
    margin-bottom: 6rem; }
.util-margin-bottom-xl {
    margin-bottom: 8rem; }

.util-margin-left-xs {
    margin-left: 1rem; }
.util-margin-left-s {
    margin-left: 2rem; }
.util-margin-left-m {
    margin-left: 4rem; }
.util-margin-left-l {
    margin-left: 6rem; }
.util-margin-left-xl {
    margin-left: 8rem; }

.util-margin-right-xs {
    margin-right: 1rem; }
.util-margin-right-s {
    margin-right: 2rem; }
.util-margin-right-m {
    margin-right: 4rem; }
.util-margin-right-l {
    margin-right: 6rem; }
.util-margin-right-xl {
    margin-right: 8rem; }